            </article>
        </div>
    </main>

    <footer class="blog-footer">
        <div class="container">
            <p>&copy; 2026 Reading Pathway. Powered By Cdimex Education Solutions</p>
        </div>
    </footer>
</body>
</html>
